.converter {
    display: grid;
    grid-template-rows: .5fr .25fr 1fr;
    grid-row-gap: 2rem;

    padding: 3rem;
    align-items: center;

    &__header {

        h1 {
            font-weight: 700;
            letter-spacing: .3rem;
        }

        p {
            font-size: 1.2rem;
            line-height: 1;
            font-weight: 400;
        }
    }

    &__cur {
        display: grid;
        grid-template-columns: 1fr min-content 1fr;
        align-items: end;
        transform: translateY(-30%);

        .cur {
            &-container {
                display: grid;
                padding-bottom: .5rem;
                border-bottom: $border-light;
            }

            &__label {
                line-height: 1.5;
                margin-left: .4rem;
                margin-bottom: 1rem;
            }

            &-content {
                display: flex;
                justify-content: space-between;
            }

            &-select {
                border: none;
                background-color: transparent;

                color: $color-grey-dark-3;
                font-family: $font-primary;
                font-size: 1.2rem;
                font-weight: 700;
            }

            &-option {
                white-space: unset;
            }

            &-img {
                // height: 3rem;
                // width: 3rem;
                // overflow: hidden;
                // border-radius: 100%;
                // padding: 2px;
                // border: $border-dark;
                // justify-self: flex-end;

                // display: flex;
                // justify-content: center;
                // align-items: center;

                svg {
                    height: 2rem;
                    width: 2rem;
                    border: 1px solid #eee;
                    border-radius: 100%;
                    //filter: contrast(100%);
                }
            }
        }
    }

    .bg {
        margin: 0 2rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        width: 9.5rem;
        height: 9.5rem;

        transform: translateY(37%);

        &::after {
            display: block;
            content: '';
            width: 80%;
            height: 80%;
            border-radius: 100%;
            background-color: rgba($color-google, .2);
            z-index: 1;
            margin: 0 auto;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50.9%, -49.5%);
        }
    }

    &__icon {
        border-radius: 100%;
        width: 5.5rem;
        height: 5.5rem;
        background-color: $color-google;
        cursor: pointer;

        z-index: 10;

        display: flex;
        align-items: center;
        justify-content: center;


        svg {
            width: 2rem;
            height: 2rem;
            fill: #fff;
        }
    }
}