.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    background-color: #333;
    color: #fff;
    font-size: 1.4rem;

    span {
        color: red;
    }

    p>a {
        display: inline-block;
        background-color: #333;
        margin: 0 .5rem;
        transition: all .3s;

        &:hover {
            box-shadow: 0 1rem 4rem rgba(#000, .5);
            transform: scale(1.05);
        }
    }
}