.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: #fff;
    box-shadow: $shadow-light;

    min-height: 50rem;
    display: grid;
    grid-template-rows: .2fr 1fr .6fr;

    @media only screen and(max-width:$bp-small) {
        margin-top: 0;
    }
}