.rates {
    padding: 4rem;
    padding-top: 7rem;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-row-gap: 2rem;
    min-height: 36rem;

    overflow-x: scroll;

    &::-webkit-scrollbar {
        width: 0;
    }

    @media only screen and (max-width:$bp-small) {
        padding-top: 2rem;
    }

    @media only screen and (max-width:$bp-vsmall) {
        margin: 0 1rem;
        padding: 1rem;
    }

    &__header {
        display: flex;
        align-items: flex-end;

        h1 {
            font-weight: 700;
            letter-spacing: .3rem;

            @media only screen and (max-width:$bp-vsmall) {
                font-size: 2.2rem;
                margin-left: -1rem;
            }
        }

        .rates__base {
            border: none;
            background-color: transparent;
            height: 3rem;
            margin-left: 4rem;

            color: $color-grey-dark-3;
            font-family: $font-primary;
            font-size: 1.2rem;
            font-weight: 700;

            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url(../img/caret.png),
                linear-gradient(to right, #fff, #fff);
            background-size: .65em auto,
                100%;
            background-repeat: no-repeat;
            background-position: right;
            cursor: pointer;
            transition: all .5s;


            &:hover {
                box-shadow: $shadow-light-2;
            }

            &-option {
                white-space: unset;
            }

            @media only screen and (max-width:$bp-vsmall) {
                font-size: 1rem;
            }
        }
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(17, 1fr);
        grid-column-gap: 3rem;
        grid-template-rows: min-content 1fr;
        grid-row-gap: 1rem;

        font-size: 1.2rem;
        font-weight: 400;

        justify-items: center;
        animation: slide 30s linear 0s infinite alternate;

        &:hover {
            animation-play-state: paused;
        }

        @media only screen and (max-width:$bp-large) {
            animation: slide2 30s linear 0s infinite alternate;
        }

        @media only screen and (max-width:$bp-medium) {
            animation: slide3 30s linear 0s infinite alternate;
        }

        @media only screen and (max-width:$bp-vsmall) {
            font-size: 1rem;
        }
    }

    &__col {

        &-header {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: start;

            font-size: 1.2rem;
            font-weight: 400;

            color: $color-purple;

            .value {
                justify-self: center;
                transform: translateX(-2rem);
            }
        }

        &-body {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, max-content);
            grid-column-gap: 3rem;
        }
    }
}

.green {
    color: green;
}

.red {
    color: red;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-80%);
    }
}

@keyframes slide2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-86%);
    }
}

@keyframes slide3 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-88%);
    }
}

@keyframes slide4 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-92%);
    }
}