$color-primary: #164CBC;
$color-secondary:#A8D8D5;
$color-tertiary:#52A494;
$color-google:#4C8BF5;

$color-grey-light: #DFF9FB;

$color-grey-dark-1: #A8B5C9;
$color-grey-dark-2: #94A6B8;
$color-grey-dark-3:#384955;
$color-grey-dark-4: #121922;

// FONTS
$font-primary:'Lato',
sans-serif;
$font-secondary:'Recursive',
sans-serif;

// SHADOW
$shadow-light: 2rem 2rem 4rem rgba(#000, .15);
$shadow-light-2: .5rem .5rem 1rem rgba(#000, .15);

//BORDER
$border-light: .5px solid rgba($color-grey-dark-1, .4);
$border-light-2: .5px solid rgba(red, .4);
$border-dark: .5px solid rgba($color-grey-dark-3, 1);

/*
$color-grey:#dff9fb;
#95afc0
#535c68

#4834d4
#30336b
#130f40

#eb4d4b
*/