$color-primary: #164CBC;
$color-secondary:#A8D8D5;
$color-tertiary:#52A494;
$color-google:#4C8BF5;
$color-purple:#130f40;

$color-grey-light: #DFF9FB;
$color-grey-dark-1: #A8B5C9;
$color-grey-dark-2: #94A6B8;
$color-grey-dark-3:#384955;
$color-grey-dark-4: #121922;

// FONTS
$font-primary:'Lato',
sans-serif;
$font-secondary: 'Recursive',
sans-serif;

// SHADOW
$shadow-light: 2rem 2rem 4rem rgba(#000, .15);
$shadow-light-2: .5rem .5rem 1rem rgba(#000, .15);
$shadow-light-3: .5rem .5rem 1rem rgba(#fff, .15);

//BORDER
$border-light: .5px solid rgba($color-grey-dark-1, .4);
$border-light-2: .5px solid rgba(red, .4);
$border-dark: .5px solid rgba($color-grey-dark-3, 1);

// MEDIA QUERY BREAKPOINTS
$bp-large: 56.25em;
$bp-medium: 43.75em;
$bp-small: 37.5em;